In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Prateek\Desktop\project\Bangalore.csv")

In [3]:
data.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [4]:
data.shape

(6207, 40)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                6207 non-null   int64
 1   Area                 6207 non-null   int64
 2   Location             6207 non-null   object
 3   No. of Bedrooms      6207 non-null   int64
 4   Resale               6207 non-null   int64
 5   MaintenanceStaff     6207 non-null   int64
 6   Gymnasium            6207 non-null   int64
 7   SwimmingPool         6207 non-null   int64
 8   LandscapedGardens    6207 non-null   int64
 9   JoggingTrack         6207 non-null   int64
 10  RainWaterHarvesting  6207 non-null   int64
 11  IndoorGames          6207 non-null   int64
 12  ShoppingMall         6207 non-null   int64
 13  Intercom             6207 non-null   int64
 14  SportsFacility       6207 non-null   int64
 15  ATM                  6207 non-null   int64
 16  ClubHouse            6207 non-null   int64
 17  School               6207 non-null   int64
 18  24X7Security         6207 non-null   int64
 19  PowerBackup          6207 non-null   int64
 20  CarParking           6207 non-null   int64
 21  StaffQuarter         6207 non-null   int64
 22  Cafeteria            6207 non-null   int64
 23  MultipurposeRoom     6207 non-null   int64
 24  Hospital             6207 non-null   int64
 25  WashingMachine       6207 non-null   int64
 26  Gasconnection        6207 non-null   int64
 27  AC                   6207 non-null   int64
 28  Wifi                 6207 non-null   int64
 29  Childrenplayarea     6207 non-null   int64
 30  LiftAvailable        6207 non-null   int64
 31  BED                  6207 non-null   int64
 32  VaastuCompliant      6207 non-null   int64
 33  Microwave            6207 non-null   int64
 34  GolfCourse           6207 non-null   int64
 35  TV                   6207 non-null   int64
 36  DiningTable          6207 non-null   int64
 37  Sofa                 6207 non-null   int64
 38  Wardrobe             6207 non-null   int64
 39  Refrigerator         6207 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.9+ MB

In [6]:
for i in data.columns:
    print(data[i].value_counts())
    print("$"*5)

8400000     111
3100000      58
11000000     47
7840000      46
10500000     39
           ...
6973999       1
8254000       1
4720000       1
6419000       1
8192000       1
Name: Price, Length: 2146, dtype: int64
$$$$$
1500    138
1400     70
1200     64
1450     56
924      52
       ...
2016      1
2020      1
2024      1
2028      1
3836      1
Name: Area, Length: 1359, dtype: int64
$$$$$
Electronic City Phase 2    232
RR Nagar                   217
Begur                      186
Varthur                    168
Kumaraswamy Layout         154
                          ...
Benson Town                  1
Nagavara                     1
Ashwathkatte Road            1
Banashankari Stage III       1
Electronic City Phase I      1
Name: Location, Length: 302, dtype: int64
$$$$$
3    2799
2    2750
4     402
1     230
5      22
7       2
6       2
Name: No. of Bedrooms, dtype: int64
$$$$$
0    5718
1     489
Name: Resale, dtype: int64
$$$$$
9    4256
0    1717
1     234
Name: MaintenanceStaff, dtype: int64
$$$$$
9    4256
1    1803
0     148
Name: Gymnasium, dtype: int64
$$$$$
9    4256
1    1645
0     306
Name: SwimmingPool, dtype: int64
$$$$$
9    4256
1    1312
0     639
Name: LandscapedGardens, dtype: int64
$$$$$
9    4256
1    1400
0     551
Name: JoggingTrack, dtype: int64
$$$$$
9    4256
1    1259
0     692
Name: RainWaterHarvesting, dtype: int64
$$$$$
9    4256
1    1102
0     849
Name: IndoorGames, dtype: int64
$$$$$
9    4256
0    1728
1     223
Name: ShoppingMall, dtype: int64
$$$$$
9    4256
1    1545
0     406
Name: Intercom, dtype: int64
$$$$$
9    4256
1    1000
0     951
Name: SportsFacility, dtype: int64
$$$$$
9    4256
0    1708
1     243
Name: ATM, dtype: int64
$$$$$
9    4256
1    1404
0     547
Name: ClubHouse, dtype: int64
$$$$$
9    4256
0    1721
1     230
Name: School, dtype: int64
$$$$$
9    4256
1    1384
0     567
Name: 24X7Security, dtype: int64
$$$$$
9    4256
1    1764
0     187
Name: PowerBackup, dtype: int64
$$$$$
9    4256
1    1133
0     818
Name: CarParking, dtype: int64
$$$$$
9    4256
0    1519
1     432
Name: StaffQuarter, dtype: int64
$$$$$
9    4256
0    1544
1     407
Name: Cafeteria, dtype: int64
$$$$$
9    4256
1    1082
0     869
Name: MultipurposeRoom, dtype: int64
$$$$$
9    4256
0    1840
1     111
Name: Hospital, dtype: int64
$$$$$
9    4256
0    1706
1     245
Name: WashingMachine, dtype: int64
$$$$$
9    4256
0    1562
1     389
Name: Gasconnection, dtype: int64
$$$$$
9    4256
0    1701
1     250
Name: AC, dtype: int64
$$$$$
9    4256
0    1951
Name: Wifi, dtype: int64
$$$$$
9    4256
1    1750
0     201
Name: Childrenplayarea, dtype: int64
$$$$$
9    4256
1    1660
0     291
Name: LiftAvailable, dtype: int64
$$$$$
9    4256
0    1703
1     248
Name: BED, dtype: int64
$$$$$
9    4256
0    1082
1     869
Name: VaastuCompliant, dtype: int64
$$$$$
9    4256
0    1706
1     245
Name: Microwave, dtype: int64
$$$$$
9    4256
0    1886
1      65
Name: GolfCourse, dtype: int64
$$$$$
9    4256
0    1706
1     245
Name: TV, dtype: int64
$$$$$
9    4256
0    1706
1     245
Name: DiningTable, dtype: int64
$$$$$
9    4256
0    1706
1     245
Name: Sofa, dtype: int64
$$$$$
9    4256
0    1951
Name: Wardrobe, dtype: int64
$$$$$
9    4256
0    1706
1     245
Name: Refrigerator, dtype: int64
$$$$$

In [7]:
data.isna().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Childrenplayarea       0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [8]:
data.drop(columns=["Refrigerator",'Wardrobe','GolfCourse','Sofa','TV','Microwave','StaffQuarter','VaastuCompliant','LandscapedGardens','SwimmingPool','MaintenanceStaff','JoggingTrack','Resale','RainWaterHarvesting','IndoorGames','ShoppingMall','Intercom','SportsFacility','ATM','ClubHouse','MultipurposeRoom','Hospital','WashingMachine','Gasconnection','School','24X7Security','PowerBackup','CarParking','Cafeteria','AC','Wifi','LiftAvailable','DiningTable','BED'],inplace=True)

In [9]:
data.describe()

,Price,Area,No. of Bedrooms,Gymnasium,Childrenplayarea
count,6.207000e+03,6207.000000,6207.000000,6207.000000,6207.000000
mean,1.058510e+07,1526.094248,2.556952,6.461576,6.453037
std,1.410943e+07,764.845609,0.694300,3.752421,3.765955
min,2.000000e+06,415.000000,1.000000,0.000000,0.000000
25%,5.000000e+06,1110.000000,2.000000,1.000000,1.000000
50%,7.368000e+06,1340.000000,3.000000,9.000000,9.000000
75%,1.070000e+07,1662.500000,3.000000,9.000000,9.000000
max,3.000000e+08,9900.000000,7.000000,9.000000,9.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             6207 non-null   int64
 1   Area              6207 non-null   int64
 2   Location          6207 non-null   object
 3   No. of Bedrooms   6207 non-null   int64
 4   Gymnasium         6207 non-null   int64
 5   Childrenplayarea  6207 non-null   int64
dtypes: int64(5), object(1)
memory usage: 291.1+ KB

In [11]:
data['Area'].unique()

array([3340, 1045, 1179, ..., 2204,  873, 2064], dtype=int64)

In [12]:
data['Price'].unique()

array([30000000,  7888000,  4866000, ...,  6251000,  7373000,  4985000],
      dtype=int64)

In [13]:
data["No. of Bedrooms"].unique()

array([4, 2, 3, 1, 5, 6, 7], dtype=int64)

# price per sq.feet

In [14]:
#data['Pricepersqfeet ']=data["Price"]*100000/data["Area"]

In [15]:
#data['Pricepersqfeet ']

In [16]:
data.describe()

,Price,Area,No. of Bedrooms,Gymnasium,Childrenplayarea
count,6.207000e+03,6207.000000,6207.000000,6207.000000,6207.000000
mean,1.058510e+07,1526.094248,2.556952,6.461576,6.453037
std,1.410943e+07,764.845609,0.694300,3.752421,3.765955
min,2.000000e+06,415.000000,1.000000,0.000000,0.000000
25%,5.000000e+06,1110.000000,2.000000,1.000000,1.000000
50%,7.368000e+06,1340.000000,3.000000,9.000000,9.000000
75%,1.070000e+07,1662.500000,3.000000,9.000000,9.000000
max,3.000000e+08,9900.000000,7.000000,9.000000,9.000000

In [17]:
data['Location'].value_counts()

Electronic City Phase 2    232
RR Nagar                   217
Begur                      186
Varthur                    168
Kumaraswamy Layout         154
                          ...
Benson Town                  1
Nagavara                     1
Ashwathkatte Road            1
Banashankari Stage III       1
Electronic City Phase I      1
Name: Location, Length: 302, dtype: int64

In [18]:
data['Location']=data['Location'].apply(lambda x:x.strip())
location_count=data['Location'].value_counts()

In [19]:
locatio_less_than_10=location_count[location_count<=10]
locatio_less_than_10

Kanakapura                 10
Whitefield                 10
JP Nagar Phase 6            9
RR Nagar Main Road          9
J. P. Nagar                 9
                           ..
Benson Town                 1
Nagavara                    1
Ashwathkatte Road           1
Banashankari Stage III      1
Electronic City Phase I     1
Name: Location, Length: 190, dtype: int64

In [20]:
data['Location']=data['Location'].apply(lambda x: 'other' if x in locatio_less_than_10 else x)

In [21]:
data.describe()

,Price,Area,No. of Bedrooms,Gymnasium,Childrenplayarea
count,6.207000e+03,6207.000000,6207.000000,6207.000000,6207.000000
mean,1.058510e+07,1526.094248,2.556952,6.461576,6.453037
std,1.410943e+07,764.845609,0.694300,3.752421,3.765955
min,2.000000e+06,415.000000,1.000000,0.000000,0.000000
25%,5.000000e+06,1110.000000,2.000000,1.000000,1.000000
50%,7.368000e+06,1340.000000,3.000000,9.000000,9.000000
75%,1.070000e+07,1662.500000,3.000000,9.000000,9.000000
max,3.000000e+08,9900.000000,7.000000,9.000000,9.000000

In [22]:
data.drop(columns=['Childrenplayarea'],inplace=True)

# cleaned data

In [23]:
data.head()

      Price  Area                         Location  No. of Bedrooms  Gymnasium
0  30000000  3340                 JP Nagar Phase 1                4          1
1   7888000  1045       Dasarahalli on Tumkur Road                2          1
2   4866000  1179  Kannur on Thanisandra Main Road                2          1
3   8358000  1675                     Doddanekundi                3          0
4   6845000  1670                          Kengeri                3          1

In [24]:
data.to_csv("Cleaned_data.csv")

In [25]:
x=data.drop(columns=['Price'])
y=data['Price']

In [26]:
data.head()

      Price  Area                         Location  No. of Bedrooms  Gymnasium
0  30000000  3340                 JP Nagar Phase 1                4          1
1   7888000  1045       Dasarahalli on Tumkur Road                2          1
2   4866000  1179  Kannur on Thanisandra Main Road                2          1
3   8358000  1675                     Doddanekundi                3          0
4   6845000  1670                          Kengeri                3          1

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [29]:
print(x_train.shape)
print(x_test.shape)

(4965, 4)
(1242, 4)

# applying linear regression

In [30]:
columns_trans=make_column_transformer((OneHotEncoder(sparse=False),['Location']),remainder='passthrough')

In [31]:
scaler=StandardScaler()

In [32]:
lr=LinearRegression(normalize=True)

In [33]:
pipe=make_pipeline(columns_trans,scaler,lr)

In [34]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [35]:
y_pred_lr=pipe.predict(x_test)

In [36]:
df=pd.DataFrame({'real_value':y_test,'predicted value':y_pred_lr})
df

      real_value  predicted value
2232     5900000     1.021936e+07
5022     3100000     6.202659e+06
2513     3828000     6.225571e+06
5629     8166000     7.310691e+06
2087     8958000     8.886947e+06
...          ...              ...
3438     6600000     6.378147e+06
1029     7320000     1.147549e+07
5971     6700000     8.986595e+06
4828     3800000     5.808963e+06
5734     2940000     6.085799e+06

[1242 rows x 2 columns]

In [37]:
r2_score(y_test,y_pred_lr)

0.21185890846767264

# RandomforestRegressor

In [38]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
randomForestRegressor=RandomForestRegressor(n_estimators=10,random_state=0)

In [40]:
 pipe=make_pipeline(columns_trans,scaler,randomForestRegressor)

In [41]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()),
                ('randomforestregressor',
                 RandomForestRegressor(n_estimators=10, random_state=0))])

In [42]:
Y_pred_rand=pipe.predict(x_test)
r2_score(y_test,Y_pred_rand)

0.12075834693874787

# DecisionTreeRegressor

In [43]:
from sklearn.tree import DecisionTreeRegressor

In [44]:
decisionTreeRegressor=DecisionTreeRegressor()

In [45]:
pipe=make_pipeline(columns_trans,scaler,decisionTreeRegressor)

In [46]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()),
                ('decisiontreeregressor', DecisionTreeRegressor())])

In [47]:
y_pred_decis=pipe.predict(x_test)

In [48]:
r2_score(y_test,y_pred_decis)

0.04144900080603642

## Ridge

In [49]:
lasso=Lasso()

In [50]:
pipe=make_pipeline(columns_trans,scaler,lasso)

In [51]:
pipe.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.41229799907481e+16, tolerance: 106346076167543.36
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [52]:
y_pred_lasso=pipe.predict(x_test)

In [53]:
r2_score(y_test,y_pred_lasso)

0.21185256587803258

In [54]:
print('linear regression',r2_score(y_test,y_pred_lr))
print('random forest',r2_score(y_test,Y_pred_rand))
print('decision tree',r2_score(y_test,y_pred_decis))
print('decision tree',r2_score(y_test,y_pred_lass0))

linear regression 0.21185890846767264
random forest 0.12075834693874787
decision tree 0.04144900080603642

NameError: name 'y_pred_lass0' is not defined

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('india_price.pkl','wb'))